<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
    </head>

    @{ 
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        bool isUserGroupsController = currentControllerName == "UserGroups";
        string controllerClass = currentControllerName == "Rides" ?
                                 String.Format("constroller-{0}", currentControllerName.ToLower()) :
                                 string.Empty;
    }

    <body class='@(isUserGroupsController ? "user-groups-body" : String.Empty)'>
        <div class="navbar navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Ajdeme Si", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content @controllerClass">
            @RenderBody()
            @if (!isUserGroupsController)
            {
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Ajdeme Si</p>
                </footer>
            }
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
